# Файлы операционной системы
.DS_Store
Thumbs.db

# Временные файлы Neovim (на всякий случай, если они создадутся)
./devcontainer/*.swp
./devcontainer/*.swo
./devcontainer/*~

# Локальные директории с историей изменений (если настроены)
./devcontainer/.undodir
./devcontainer/.undofiles

# Локальные файлы, специфичные для IDE (если вы откроете проект в другой IDE)
.vscode/
.idea/