# Файлы операционной системы
.DS_Store
Thumbs.db

# Временные файлы Neovim (на всякий случай, если они создадутся)
*.swp
*.swo
*~

# Локальные директории с историей изменений (если настроены)
.undodir
.undofiles

# Локальные файлы, специфичные для IDE (если вы откроете проект в другой IDE)
.vscode/
.idea/

# Игнорировать всю папку с кэшем
devcontainer-conf/cache/
